--- 
- block: 
  - name: create hadoop supervisord configuration file
    template: 
      src: templates/hadoop_supervisord.conf.j2 
      dest: /etc/supervisor/conf.d/hadoop_supervisord.conf
      owner: root 
      group: root
    notify: 
      - update supervisor 
      
  - meta: flush_handlers

  - name: create configuration directory
    file: path={{ hadoop_conf_dir }} state=directory

  - name: distribute hadoop conf
    template: src=hadoop-env.sh.j2 dest={{ hadoop_conf_dir }}/hadoop-env.sh

  - name: distribute hadoop core-site.xml
    template: src=core-site.xml.j2 dest={{ hadoop_conf_dir }}/core-site.xml

  - name: distribute hadoop hdfs-site.xml
    template: src=hdfs-site.xml.j2 dest={{ hadoop_conf_dir }}/hdfs-site.xml

  - name: distribute hadoop masters file
    template: src=masters.j2 dest={{ hadoop_conf_dir }}/masters
  
  - name: distribute hadoop slaves file
    template: src=slaves.j2 dest={{ hadoop_conf_dir }}/slaves
  
  tags:
    - configuration

- name: create the hadoop directory
  file: path={{ hadoop_tmp_dir }} state=directory owner=hadoop group=hadoop
  
