{% if 'spark_masters' in group_names %}
[program:hdfs_namenode]
command=/usr/local/hadoop/bin/hdfs --config {{ hadoop_conf_dir }} namenode 
directory=/usr/local/hadoop
autostart=true
user=hadoop
stdout_logfile=/usr/local/hadoop/logs/hadoop-hadoop-namenode-{{ ansible_hostname }}.log
redirect_stderr=true
{% endif %}

{% if 'spark_slaves' in group_names %}
[program:hdfs_datanode]
command=/usr/local/hadoop/bin/hdfs --config {{ hadoop_conf_dir }} datanode
directory=/usr/local/hadoop
autostart=true
user=hadoop
stdout_logfile=/usr/local/hadoop/logs/hadoop-hadoop-datanode-{{ ansible_hostname }}.log
redirect_stderr=true
{% endif %}
